/* Navigation bar styles */
nav {
  background-color: #888;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Add a higher z-index value to ensure the navigation bar is positioned above other elements */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  flex-grow: 1;
}

nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav li a:hover {
  background-color: #999;
}

/* Content styles */
.content {
  margin-top: 70px; /* Increase the margin-top value to create more space between the navigation bar and the content */
  padding: 20px;
  box-sizing: border-box; /* Include padding within the width of the content */
  max-width: 800px; /* Adjust this value to control the maximum width of the content */
  margin-left: auto;
  margin-right: auto;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
  /* Styles for mobile screens */
  .content {
    margin-top: 60px; /* Adjust the margin-top value for mobile screens */
    max-width: 100%;
    padding: 20px;
  }
}
