/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Lucida Handwriting;


/* Page 1 Styles */
body.page1 {
  background-color: #f5f5f5;
  background-image: url('leaves-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page1 h1,
.page1 p,
.page1 h2 {
  padding: 10px;
  border-radius: 10px; /* Rounded edges */
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  backdrop-filter: blur(15px); /* Soft blur effect */
}

.page1 h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.page1 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Page 2 Styles */
body.page2, body.page3 {
  background-color: #f5f5f5;
  background-image: url('open-road.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page2 h1, .page3 h1,
.page2 p, .page3 p,
.page2 h2, .page3 h2 {
  padding: 10px;
  border-radius: 10px; /* Rounded edges */
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  backdrop-filter: blur(15px); /* Soft blur effect */
}

.page2 h1, .page3 h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Page 3 Styles */
body.page3, body.page4 {
  background-color: #f5f5f5;
  background-image: url('alex-fxrwJGMCz_g-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page3 h1, .page4 h1,
.page3 p, .page4 p,
.page2 h3, .page4 h2 {
  padding: 10px;
  border-radius: 10px; /* Rounded edges */
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  backdrop-filter: blur(15px); /* Soft blur effect */
}

.page3 h1, .page4 h1 {
  font-size: 28px;
  margin-bottom: 20px;
}


/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  position: relative;
}

nav li a {
  text-decoration: none;
  padding: 10px;
  color: #fff; /* White */
  background-color: #888; /* Medium gray */
}

nav li a.active {
  background-color: #444; /* Darker gray */
}

/* Main Styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #333;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Index Page Styles */
body.index {
     background-color: lightgrey
}
